{% extends "base.html" %}
{% load static %}
{% block titulo %}
    <title>Registro</title>
{% endblock titulo %}
{% block main %}
    <body>
        <main>
            <header class="py-5">
                <div class="container px-lg-5">
                    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                        <div class="m-4 m-lg-5">
                            <h1 class="display-5 fw-bold">Tus datos se registraron correctamente</h1>
                            <p class="fs-4">Deseas regresar al menu?</p>
                            <a class="btn btn-primary" href={% url "inicio" %}>Inicio</a>
                            <a class="btn btn-primary" href={% url "listado" %}>Ver listado</a>

                        </div>
                    </div>
                </div>
            </header>
        </main>

    </body>
{% endblock main %}