{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
        <title>Contacto</title>
    {% endblock titulo %}
</head>
<body>
    <main>
        {% block main %}
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">Acosta Cesar Oscar</h1>
                        <p class="fs-4">informacion de CV</p>
                        <a class="btn btn-primary btn-lg" href="#!">Call to action</a>
                    </div>
                </div>
            </div>
        </header>
        {% endblock main %}
     </main>
    

</body>
</html>