{% extends "base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
        <title>Inicio</title>
    {% endblock titulo %}    
</head>
<body>
    <main>
        {% block main %}
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-3 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold ">
                            <i class='bx bxs-star' style='color:#7dcbc0'></i>
                            <i class='bx bxs-star' style='color:#7dcbc0'></i>
                            <i class='bx bxs-star' style='color:#7dcbc0'></i>
                            Laburo Argentino                       
                            <i class='bx bxs-star' style='color:#7dcbc0'></i>
                            <i class='bx bxs-star' style='color:#7dcbc0'></i>
                            <i class='bx bxs-star' style='color:#7dcbc0'></i></h1>
                        <p class="fs-4 ">
                            ¿Se te inunda la casa a media noche y no sabes de donde sacar un plomero? <br> 
                            ¿Necesitas un gasista de confianza y no encontras por ningun lado? <br> 
                            ¿Se te rompío el auto en tus vacaciones y no sabes ni donde estás parado?</p>
                        <br>

                        <h4 class="display-5 fw-bold ">! Tenemos la solucion para vos !</h4>
                        <p class="fs-4 ">Con nuestra app podrás buscar cualquier tipo de profesional de maxima confianza y estés donde estés cuando lo quieras</p>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                    <a class="btn-lg" href={% url "login" %}>
                                        <i class='bx bx-add-to-queue'></i>
                                    </a>      
                                </div>
                                <h2 class="fs-4 fw-bold">Registrar profesional</h2>
                                <p class="mb-0">¿Eres un profesional? <br> Desde aquí podras registrar tus datos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                    <a class="btn-link" href={% url "listado" %}>
                                        <i class='bx bx-list-ul'></i>
                                    </a>
                                </div>
                                <h2 class="fs-4 fw-bold">Ver Listado</h2>
                                <p class="mb-0">Entra a nuestro listado de profesionales y busca lo que necesites ahora mismo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock main %}
     </main>
</body>
</html>