{% extends "base.html" %}
{% load static %}

{% block titulo %}
<title>
    Cerrar sesion
</title>
{% endblock titulo %}

{% block main %}
<body>
    <main>
            <header class="py-5">
                <div class="container px-lg-5">
                    <div class="p-4 p-lg-3 bg-light rounded-3 text-center">
                        <div class="m-4 m-lg-5">
                            <h3>Sesion finalizada</h3>
                        </div>
                    </div>
                </div>
            </header> 
        </main>
    </body>
{% endblock main %}